.services {
  background-color: var(--secondary-color);
  margin: auto;
  padding: 3rem 1rem;
  width: 100%;
  .container {
    width: 1240px;
    height: 800px;
    margin: auto;
    h2 {
      font-size: 2.5rem;
      font-weight: 800;
      text-align: center;
    }
    p {
      margin: 1rem 0;
      font-size: 1rem;
      text-align: center;
    }
    .cards {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      .card-1,
      .card-2,
      .card-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        max-width: 400px;
        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
        }
        .card-body {
          padding: 2rem;
          background-color: #fff;
          border-radius: 10px;
          .card-title {
            font-size: 1.4rem;
            font-weight: 600;
            text-align: left;
          }
          .card-text {
            margin: 1rem 0;
            font-weight: 400;
            text-align: left;
          }
        }
      }
      .card-2 {
        position: relative;
        top: 30px;
      }
      .card-3 {
        position: relative;
        top: 60px;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .services {
    .container {
      width: 100%;
      height: auto;
      .cards {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        .card-2,
        .card-3 {
          position: relative;
          top: 0;
        }
      }
    }
  }
}
